@using PetitionAdminApp.Models
@using PetitionAdminApp.Components
@using System.Globalization
@using System.ComponentModel.DataAnnotations.Schema
@inject HttpClient Http

<div class="container" style="padding: 20px">
    <div class="card">
        
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h5>
                        @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Petition?.Name?.ToLower() ?? string.Empty)
                    </h5>
                </div>
                <div class="col">
                    <div style="text-align: right">
                        <input type="checkbox" @bind="Petition.IsChecked" /> 
                    </div>
                </div>

            </div>
        </div>
        
        <div class="card-body">
            <p class="card-text">@((MarkupString)Petition?.Description.Replace("\n", "<br/><br/>"))</p>
        </div>
        
        <div class="card-footer text-body-secondary" style="text-align: right">
            @Petition?.EntryDate.ToLocalTime().ToString(CultureInfo.InvariantCulture)
        </div>
        
    </div>
</div>



@code {

    [Parameter] public Petition? Petition { get; set; }
    
}